/*button{
  background-color:#c0c0c0; 
  
}
div{
  font-size:50px; 
}
.btn:hover{
  opacity: 0.6;
}*/

.a{

width: 200px;
  margin: 50px auto;
  border: 2px solid black;
  
}
.out{
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: right;
  padding: 5px;
  margin-bottom: 5px;
  border:2px solid black;
  box-sizing: border-box;
  font-size:20px;
}
.input{
  width:200px;
  border: 2px solid black; 
  padding-top: -20px;
}

.row {

  display: flex;
  justify-content: space-between;
   
  width: 200px;
}
button{
 width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 30%;
  background: lightgray;
  cursor: pointer 
  
  
}
.ko{
  width:215px;
  
}